/dev/pvrsrvkm             0666   system     system

#for DSSCOMP
/dev/dsscomp              0666   system     system
/dev/tiler                0666   system     system

#for SYSLINK
/dev/rpmsg-omx0           0660   drmrpc    drmrpc
/dev/rpmsg-omx1           0660   drmrpc    drmrpc
/dev/rproc_user           0660   drmrpc    drmrpc
/dev/tf_driver            0660   drmrpc    drmrpc
/dev/tf_ctrl              0660   drmrpc    drmrpc

#for FM v4l2 Radio
/dev/radio0               0666   system    radio
